body {
    font-family: Arial, sans-serif;
    background-color: #EAE0C8; /* Основной цвет фона */
    color: #000000; /* Основной цвет текста */
    margin: 0;
    padding: 0;
}

header {
    background-color: #40377D;
    color: #EAE0C8;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #40377D;
    margin-bottom: 20px;
}

nav a {
    color: #EAE0C8;
    font-size: 18px;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #665CA8;
    color: #ffffff;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 200px;
    background-color: #665CA8;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #40377D;
    color: #EAE0C8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar button:hover {
    background-color: #5349A0;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #665CA8;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #40377D;
    color: #EAE0C8;
}

.action-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #40377D;
    color: #EAE0C8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #5349A0;
}

.info-button, .add-score-button, .department-info-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #40377D;
    font-size: 20px;
}

.info-button i, .add-score-button i, .department-info-button i {
    color: #40377D;
}

.info-button i:hover, .add-score-button i:hover, .department-info-button i:hover {
    color: #665CA8;
}

/* Модальные окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #665CA8;
    width: 40%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #40377D;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form label {
    margin-top: 10px;
}

.modal-form input, .modal-form select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #665CA8;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #40377D;
}

.modal-button {
    padding: 10px;
    margin-top: 15px;
    background-color: #40377D;
    color: #EAE0C8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-button:hover {
    background-color: #5349A0;
}

.close {
    color: #40377D;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #665CA8;
    text-decoration: none;
    cursor: pointer;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.flash.success {
    background-color: #4caf50;
    color: #ffffff;
}

.flash.error {
    background-color: #f44336;
    color: #ffffff;
}

/* Стили для модальных окон авторизации и регистрации */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EAE0C8;
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

.login-form input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #665CA8;
    border-radius: 5px;
    background-color: #ffffff;
    color: #40377D;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #40377D;
    color: #EAE0C8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #5349A0;
}

.login-form a {
    color: #40377D;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.login-form a:hover {
    text-decoration: underline;
}
