<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Добавление сотрудника</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('department_rating') }}">Кафедральный рейтинг</a>
        <a href="{{ url_for('indicators') }}">Перечень показателей</a>
        <a href="{{ url_for('login') }}">Авторизация</a>
    </nav>
    <div class="container">
        <div class="form-container">
            <h2>Добавить сотрудника</h2>
            <form action="{{ url_for('submit_employee') }}" method="post">
                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" name="surname" required>

                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>

                <label for="secondname">Отчество:</label>
                <input type="text" id="secondname" name="secondname" required>

                <label for="dolzhnost">Должность:</label>
                <select id="dolzhnost" name="dolzhnost" required>
                    {% for position in positions %}
                        <option value="{{ position.id_dolzhnost }}">{{ position.dolzhnost }}</option>
                    {% endfor %}
                </select>

                <label for="zvanie">Звание:</label>
                <select id="zvanie" name="zvanie" required>
                    {% for title in titles %}
                        <option value="{{ title.id_zvanie }}">{{ title.zvanie }}</option>
                    {% endfor %}
                </select>

                <label for="kafedra">Кафедра:</label>
                <select id="kafedra" name="kafedra" required>
                    {% for department in departments %}
                        <option value="{{ department.id_kafedra }}">{{ department.kafedra_name }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
</body>
</html>
