<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление кафедры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Добавление кафедры</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('department_rating') }}">Кафедральный рейтинг</a>
        <a href="{{ url_for('indicators') }}">Перечень показателей</a>
        <a href="{{ url_for('login') }}">Авторизация</a>
    </nav>
    <div class="container">
        <div class="form-container">
            <h2>Добавить кафедру</h2>
            <form action="{{ url_for('submit_department') }}" method="post">
                <label for="kafedra_name">Название кафедры:</label>
                <input type="text" id="kafedra_name" name="kafedra_name" required>

                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
</body>
</html>
