<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Система оценки учебной и учебно-методической работы</h1>
    </header>
    <nav>
        <a href="#">Общий рейтинг</a>
        <a href="#">Кафедральный рейтинг</a>
        <a href="#">Перечень показателей</a>
        <a href="#">Авторизация</a>
    </nav>
    <div class="container">
        <aside class="sidebar">
            <button>Добавить</button>
            <button>Удалить</button>
            <button>Отчет</button>
        </aside>
        <main class="content">
            <table>
                <tr>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Звание</th>
                    <th>Ученая степень</th>
                    <th>Кафедра</th>
                    <th>Баллы</th>
                    <th>Действие</th>
                </tr>
                <tr>
                    <td>Иванов Иван Иванович</td>
                    <td>Профессор</td>
                    <td>Полковник</td>
                    <td>Доктор наук</td>
                    <td>Кафедра математики</td>
                    <td>95</td>
                    <td><button class="action-button">Редактировать</button></td>
                </tr>
                <!-- Добавьте больше строк по аналогии -->
            </table>
        </main>
    </div>
</body>
</html>
