{% extends 'layout.html' %}

{% block title %}Кафедральный рейтинг{% endblock %}

{% block content %}
<main>
    <h2>Кафедральный рейтинг</h2>
    <table id="departmentTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Кафедра</th>
                <th onclick="sortTable(1)">Средний балл</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
                <td>{{ department.kafedra_name }}</td>
                <td>{{ department.avg_score }}</td>
                <td>
                    <button class="department-info-button" data-id="{{ department.id_kafedra }}">
                        <i class="fas fa-info-circle"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<script>
function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("departmentTable");
    switching = true;
    dir = "asc";
    while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}

document.addEventListener("DOMContentLoaded", function() {
    var infoModal = document.getElementById("infoModal");
    var span = document.getElementsByClassName("close");

    for (var i = 0; i < span.length; i++) {
        span[i].onclick = function() {
            infoModal.style.display = "none";
        }
    }

    window.onclick = function(event) {
        if (event.target == infoModal) {
            infoModal.style.display = "none";
        }
    }

    document.querySelectorAll('.department-info-button').forEach(button => {
        button.addEventListener('click', function() {
            var departmentId = this.dataset.id;
            fetch(`/department/${departmentId}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('infoContent').innerHTML = data;
                    infoModal.style.display = 'block';
                });
        });
    });
});
</script>

<!-- Модальное окно для отображения информации -->
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="infoContent"></div>
    </div>
</div>
{% endblock %}
