<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о кафедре</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <h2>{{ department.kafedra_name }}</h2>
        <h3>Средний балл кафедры: {{ department.avg_score }}</h3>
        <h3>Преподаватели:</h3>
        <table>
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Звание</th>
                    <th>Баллы</th>
                </tr>
            </thead>
            <tbody>
                {% for professor in professors %}
                    <tr>
                        <td>{{ professor.surname }} {{ professor.name }} {{ professor.secondname }}</td>
                        <td>{{ professor.dolzhnost }}</td>
                        <td>{{ professor.zvanie }}</td>
                        <td>{{ professor.total_score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
