{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<main>
    <h2>Рейтинг преподавателей</h2>
    <table>
        <tr>
            <th>ФИО</th>
            <th>Кафедра</th>
            <th>Средний балл</th>
            <th>Действие</th>
        </tr>
        {% for professor in professors %}
        <tr>
            <td>{{ professor.surname }} {{ professor.name }} {{ professor.secondname }}</td>
            <td>{{ professor.kafedra_name }}</td>
            <td>{{ professor.avg_score }}</td>
            <td>
                <button class="info-button" data-id="{{ professor.id_prepod }}"><i class="fas fa-info-circle"></i></button>
                <button class="add-score-button" data-id="{{ professor.id_prepod }}"><i class="fas fa-plus-circle"></i></button>
            </td>
        </tr>
        {% endfor %}
    </table>
</main>

<!-- Модальное окно для добавления показателей -->
<div id="addScoreModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="addScoreForm" method="post" action="{{ url_for('submit_score') }}" class="modal-form">
            <input type="hidden" id="prepod_id" name="prepod_id">
            <label for="pokazatel">Показатель:</label>
            <select id="pokazatel" name="pokazatel" required>
                <option value="" disabled selected>Выберите показатель</option>
                {% for indicator in indicators %}
                    <option value="{{ indicator.id_pokazatel }}" data-score="{{ indicator.assessment_score }}">{{ indicator.pokazatel_name }}</option>
                {% endfor %}
            </select>
            <label for="ball">Баллы:</label>
            <input type="number" id="ball" name="ball" step="0.1" required readonly>
            <button type="submit" class="modal-button">Добавить</button>
        </form>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var addScoreModal = document.getElementById("addScoreModal");
    var span = document.getElementsByClassName("close")[0];

    document.querySelectorAll('.add-score-button').forEach(button => {
        button.addEventListener('click', function() {
            var prepodId = this.dataset.id;
            document.getElementById('prepod_id').value = prepodId;
            addScoreModal.style.display = "block";
        });
    });

    span.onclick = function() {
        addScoreModal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == addScoreModal) {
            addScoreModal.style.display = "none";
        }
    }

    document.getElementById('pokazatel').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];
        var score = selectedOption.getAttribute('data-score');
        document.getElementById('ball').value = score;
    });
});
</script>
{% endblock %}
