{% extends 'layout.html' %}

{% block title %}Перечень показателей{% endblock %}

{% block content %}
<main>
    <h2>Перечень показателей</h2>
    <table>
        <thead>
            <tr>
                <th>Код</th>
                <th>Показатели</th>
                <th>Оценочный балл</th>
            </tr>
        </thead>
        <tbody>
            {% for indicator in indicators %}
            <tr>
                <td>{{ indicator.id_pokazatel }}</td>
                <td>{{ indicator.pokazatel_name }}</td>
                <td>{{ indicator.assessment_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
