<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Система оценки{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Система оценки учебной и учебно-методической работы</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('department_rating') }}">Кафедральный рейтинг</a>
        <a href="{{ url_for('indicators') }}">Перечень показателей</a>
        <a href="{{ url_for('login') }}">Авторизация</a>
    </nav>
    <div class="container">
        <div class="sidebar">
            <button id="addEmployeeButton" class="action-button">Добавить сотрудника</button>
            <button id="addDepartmentButton" class="action-button">Добавить кафедру</button>
        </div>
        <div class="content">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Модальные окна -->
    <div id="addEmployeeModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="{{ url_for('submit_employee') }}" method="post" class="modal-form">
                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" name="surname" required>

                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>

                <label for="secondname">Отчество:</label>
                <input type="text" id="secondname" name="secondname" required>

                <label for="dolzhnost">Должность:</label>
                <select id="dolzhnost" name="dolzhnost" required>
                    {% for position in positions %}
                        <option value="{{ position.id_dolzhnost }}">{{ position.dolzhnost }}</option>
                    {% endfor %}
                </select>

                <label for="zvanie">Звание:</label>
                <select id="zvanie" name="zvanie" required>
                    {% for title in titles %}
                        <option value="{{ title.id_zvanie }}">{{ title.zvanie }}</option>
                    {% endfor %}
                </select>

                <label for="kafedra">Кафедра:</label>
                <select id="kafedra" name="kafedra" required>
                    {% for department in departments %}
                        <option value="{{ department.id_kafedra }}">{{ department.kafedra_name }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="modal-button">Добавить</button>
            </form>
        </div>
    </div>

    <div id="addDepartmentModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="{{ url_for('submit_department') }}" method="post" class="modal-form">
                <label for="kafedra_name">Название кафедры:</label>
                <input type="text" id="kafedra_name" name="kafedra_name" required>

                <button type="submit" class="modal-button">Добавить</button>
            </form>
        </div>
    </div>

    <div id="infoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="infoContent"></div>
        </div>
    </div>

    <!-- Сценарий для управления модальными окнами -->
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var addEmployeeModal = document.getElementById("addEmployeeModal");
        var addDepartmentModal = document.getElementById("addDepartmentModal");
        var infoModal = document.getElementById("infoModal");
        var span = document.getElementsByClassName("close");

        document.getElementById("addEmployeeButton").onclick = function() {
            addEmployeeModal.style.display = "block";
        }

        document.getElementById("addDepartmentButton").onclick = function() {
            addDepartmentModal.style.display = "block";
        }

        for (var i = 0; i < span.length; i++) {
            span[i].onclick = function() {
                addEmployeeModal.style.display = "none";
                addDepartmentModal.style.display = "none";
                infoModal.style.display = "none";
            }
        }

        window.onclick = function(event) {
            if (event.target == addEmployeeModal) {
                addEmployeeModal.style.display = "none";
            }
            if (event.target == addDepartmentModal) {
                addDepartmentModal.style.display = "none";
            }
            if (event.target == infoModal) {
                infoModal.style.display = "none";
            }
        }

        document.querySelectorAll('.info-button').forEach(button => {
            button.addEventListener('click', function() {
                var professorId = this.dataset.id;
                fetch(`/professor/${professorId}`)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('infoContent').innerHTML = data;
                        infoModal.style.display = 'block';
                    });
            });
        });

        document.querySelectorAll('.department-info-button').forEach(button => {
            button.addEventListener('click', function() {
                var departmentId = this.dataset.id;
                fetch(`/department/${departmentId}`)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('infoContent').innerHTML = data;
                        infoModal.style.display = 'block';
                    });
            });
        });

        document.querySelectorAll('.add-score-button').forEach(button => {
            button.addEventListener('click', function() {
                var scoreModal = document.getElementById('addScoreModal');
                scoreModal.style.display = 'block';
            });
        });

        // Автоматическое исчезновение флеш-сообщений
        var flashMessages = document.querySelectorAll('.flash');
        flashMessages.forEach(function(flashMessage) {
            setTimeout(function() {
                flashMessage.style.opacity = '0';
                setTimeout(function() {
                    flashMessage.style.display = 'none';
                }, 1000);
            }, 3000);
        });
    });
    </script>
</body>
</html>
