<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .flash-message {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 15px;
            background-color: #f44336;
            color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: none;
        }

        .flash-message.show {
            display: block;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var flashMessage = document.getElementById("flashMessage");
            if (flashMessage) {
                flashMessage.classList.add("show");
                setTimeout(function() {
                    flashMessage.classList.remove("show");
                }, 3000);
            }
        });
    </script>
</head>
<body>
    <div class="login-container">
        <div class="login-form" id="loginForm">
            <h1>Авторизация</h1>
            <form action="{{ url_for('login') }}" method="post">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Войти</button>
            </form>
            <a href="#" onclick="document.getElementById('registerForm').style.display='block'; document.getElementById('loginForm').style.display='none';">Зарегистрироваться</a>
        </div>

        <div class="login-form" id="registerForm" style="display:none;">
            <h1>Регистрация</h1>
            <form action="{{ url_for('login') }}" method="post">
                <label for="reg_username">Имя пользователя:</label>
                <input type="text" id="reg_username" name="username" required>
                <label for="reg_password">Пароль:</label>
                <input type="password" id="reg_password" name="password" required>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <a href="#" onclick="document.getElementById('registerForm').style.display='none'; document.getElementById('loginForm').style.display='block';">Вернуться к авторизации</a>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flashMessage" class="flash-message">
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>
