<h3>{{ professor.surname }} {{ professor.name }} {{ professor.secondname }}</h3>
<p>Кафедра: {{ professor.kafedra_name }}</p>
<p>Должность: {{ professor.dolzhnost }}</p>
<p>Звание: {{ professor.zvanie }}</p>

<h4>Оценочные показатели:</h4>
<table>
    <tr>
        <th>Показатель</th>
        <th>Баллы</th>
    </tr>
    {% for score in scores %}
    <tr>
        <td>{{ score.pokazatel_name }}</td>
        <td>{{ score.ball }}</td>
    </tr>
    {% endfor %}
</table>
